<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />
    <style>
        html, body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            font-family: "Roboto", sans-serif;
        }

        body {
            background-image: url("https://gplclub.co/wp-content/uploads/2024/11/bg.webp");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        #login-logo {
            width: 30vw;
            max-width: 200px;
            margin-bottom: 20px;
        }

        #top-div {
            height: 60vh;
            width: 100vw;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            padding: 20px;
        }

        #bottom-div {
            height: 40vh;
            width: 100vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px;
        }

        #bottom-top {
            width: 100vw;
            height: 40%;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        #bottom-bottom {
            width: 100vw;
            height: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            margin-top: 10px;
            text-align: center;
        }

        h1 {
            color: white;
            margin-bottom: 15px;
            font-weight: 400;
            letter-spacing: 1px;
        }

        h3 {
            color: white;
            margin-top: 15px;
            font-size: 14px;
            font-weight: 300;
        }

        button {
            background-color: #ffffff;
            color: #27346f;
            border: none;
            border-radius: 50px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            transition: background-color 0.3s;
            margin-top: 10px;
            font-weight: 700;
        }

        button i {
            margin-left: 8px;
        }

        button:hover {
            background-color: #99a4b6;
        }

        @media (max-width: 600px) {
            #login-logo {
                width: 70vw;
            }

            button {
                font-size: 14px;
            }

            h1 {
                font-size: 20px;
            }
        }

        .fab.fa-google {
            color: black;
        }
    </style>
</head>
<body>
    <div id="top-div">
        <img id="login-logo" src="https://gplclub.co/wp-content/uploads/2024/11/blynk-logo-copy-2-white.webp" alt="Blynk Logo" />
    </div>
    <div id="bottom-div">
        <div id="bottom-top"></div>
        <div id="bottom-bottom">
            <h1>Let's Get Started!</h1>
            <a href="/auth/google" style="text-decoration: none">
                <button>
                    <img src="https://www.svgrepo.com/show/303108/google-icon-logo.svg" alt="Google Icon" style="width: 30px; margin-right: 8px" />
                    Continue with Google
                </button>
            </a>
            <h3>
                <a href="/users/signin" style="color: rgb(58, 126, 153); text-decoration: none">I already have an account</a>
            </h3>
        </div>
    </div>
</body>
</html>
